@{
    ViewData["Title"] = "Sacit Polat Blog Uygulaması";
}

<div class="text-center">
    <h1 class="display-4">Selamlar</h1>
    <hr/>
    <p>Hadi <a href="/Article/Create">makale ekleyin</a>.</p>
</div>
