@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Araç Uygulamasına Hoş geldiniz.</h1>
    <hr />
    <p>Ana sayfa menüsünden araç listemize ulaşabilirsiniz.</p>
     
</div>
